
# Ignore everything by default
*

# Allow essential directories for WordPress
!/app/
!/app/public/
!/app/public/wp-content/
!/app/public/wp-content/plugins/
!/app/public/wp-content/plugins/Sentio Addons/

# Allow all files within the Sentio Addons directory
!/app/public/wp-content/plugins/Sentio Addons/**

# Ignore unnecessary folders and logs
app/conf/*
app/public/conf/*
app/public/logs/*
logs/

# Ignore system files and backups
*.log
*.bak
*.sql
node_modules/
.idea/
.vscode/
.DS_Store
Thumbs.db
