
# Ignore everything by default
*

# Allow the .gitignore file itself
!.gitignore

# Allow wp-content plugins folder
!/app/
!/app/public/
!/app/public/wp-content/
!/app/public/wp-content/plugins/
!/app/public/wp-content/plugins/Sentio Addons/

# Allow all files within the Sentio Addons directory
!/app/public/wp-content/plugins/Sentio Addons/**

# Ignore specific unwanted files or directories
app/public/wp-content/plugins/*

# Ignore logs, temporary files, and sensitive files
*.log
*.bak
*.sql
node_modules/
.idea/
.vscode/
.DS_Store
Thumbs.db
